{% extends "parent.njk" %}

{% block left %}
This is the left side!
{% endblock %}

{% block right %}
This is the right side!
{% endblock %}

{% block item %}
The name of the item is: {{ item.name }}
{% endblock %}