<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NunJucks</title>
</head>
<body>
    <h1>NunJucks</h1>
    {{ sampleList | join(", ") }}
    <hr>
    <h3>Loop</h3>
    <ul>
    {% for item in items %}
        <li>{{ item.title }}</li>
    {% else %}
        <li>This would display if the 'item' collection were empty</li>
    {% endfor %}
    </ul>
    <hr>
    <h3>Loop list</h3>
    {% for x, y, z in points %}
    Point: {{ x }}, {{ y }}, {{ z }} | {{loop.last}}<br>
    {% endfor %}
    <hr>
    <h3>Macro</h3>
    {% macro field(name, value='', type='text') %}
    <div class="field">
    <input type="{{ type }}" name="{{ name }}"
            value="{{ value | escape }}" />
    </div>
    {% endmacro %}
    {{ field('user') }}
    <br>
    {{ field('pass', type='password') }}

    <hr>
    <h3>Set</h3>
    {{ username }}
    {% set username = "joe" %}
    {{ username }}

    <hr>
    <h3>filter</h3>
    {% filter title %}
    may the force be with you
    {% endfilter %}
    <br>
    {% filter replace("force", "forth") %}
    may the force be with you
    {% endfilter %}

    <hr>
    <h3>Call</h3>
    {% macro add(x, y) %}
    {{ caller() }}: {{ x + y }}
    {% endmacro%}

    {% call add(1, 2) -%}
    The result is
    {%- endcall %}

    <hr>
    <h3>Batch loop</h3>
    {% set items = [1,2,3,4,5,6] %}
    {% for item in items | batch(2) -%}
        -{% for items in item -%}
            {{ items }}
        {%- endfor %}
    {%- endfor %}
</body>
</html>