{% block css %}
<link rel="stylesheet" href="/static-files/css/app.css" />
{% endblock %}

{% block header %}
This is the default content
{% endblock %}

<section class="left">
  {% block left %}{% endblock %}
</section>

<section class="right">
  {% block right %}
  This is more content
  {% endblock %}
</section>

{% for item in items %}
{% block item %}{{ item }}{% endblock %}
{% endfor %}